body {
  margin: 0;
  font: 16px 'Gilroy', sans-serif;
}

.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  transition: none !important;
}

.slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #E84E22;
}

.slide__content {
  width: 40%;
  padding: 90px 60px 180px 60px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .slide__content {
    width: 100%;
    padding: 50px 15px 15px;
  }
}

.slide__title {
  position: relative;
  left: -500px;
  font-size: 46px;
  line-height: 1.2;
  margin: 0 0 30px;
  visibility: hidden;
  transition: left .5s;
}

.tns-slide-active .slide__title {
  left: 0;
  visibility: visible;
}

@media (max-width: 767px) {
  .slide__title {
    font-size: 32px;
    line-height: 1;
    margin: 0 0 15px;
  }
}

.slide__text {
  position: relative;
  left: -500px;
  margin: 0 0 75px;
  visibility: hidden;
  transition: left .7s;
}

.tns-slide-active .slide__text {
  left: 0;
  visibility: visible;
}

@media (max-width: 767px) {
  .slide__text {
    margin: 0 0 30px;
  }
}

.slide__image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  max-width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  transform: translateX(100%);
  transition: 1s;
}

.tns-slide-active .slide__image {
  transform: translateX(0);
}

@media (max-width: 767px) {
  .slide__image {
    position: static;
    max-width: 100%;
    height: auto;
  }
}

/* button */

.button {
  min-width: 240px;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  font-weight: 600;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #103C5A;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  transition: .2s;
  cursor: pointer;
}

.slider .button {
  position: relative;
  left: -500px;
  visibility: hidden;
  transition: left .9s;
}

.slider .tns-slide-active .button {
  left: 0;
  visibility: visible;
}

.button:hover {
  opacity: 0.8;
}

/* tiny slider */

.tns-outer {
  position: relative;
}

.tns-nav {
  position: absolute;
  z-index: 1;
  left: -500px;
  bottom: 115px;
  animation-name: showNav;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showNav {
  from {
    left: -500px;
  }
  to {
    left: 60px;
  }
}

@media (max-width: 767px) {
  .tns-nav {
    bottom: auto;
    top: 15px;
    left: 20px;
  }

  @keyframes showNav {
    from {
      left: -500px;
    }
    to {
      left: 20px;
    }
  }
}

.tns-nav button {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0;
  background: none;
  margin-right: 20px;
  transition: .2s;
}

.tns-nav .tns-nav-active {
  width: 30px;
  border-radius: 15px;
  background: white;
}

.tns-outer .form {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .tns-outer .form {
    position: static;
    transform: none;
    margin: 30px auto 0;
    background: #efefef;
  }
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  width: 335px;
  max-width: 100%;
  background: white;
  border-radius: 12px;
  text-align: center;
  padding: 40px 50px 20px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .form {
    padding: 30px 30px 20px;
  }
}

.form__title {
  font-size: 24px;
  color: #262626;
  margin: 0 0 30px;
}

@media (max-width: 767px) {
  .form__title {
    margin: 0 0 15px;
  }
}

.form__input {
  font-size: 14px;
  height: 60px;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 0 0 20px;
  color: #565766;
  border-radius: 4px;
  border: 1px solid #d8d9eb;
}

.form__text {
  font-size: 12px;
  line-height: 1.15;
  margin: 10px 0 0;
  color: #565766;
}

.form__link {
  color: inherit;
}

.form__link:hover {
  text-decoration: none;
}
